table{ 
    border-collapse: collapse;
    width: 60%;
 
}
caption{
    font-size: 20px;
    font-weight: bolder;
}
th{
    border: 1px white solid;
}
td{
    border: 1px black solid;
    text-align: center;
    background-color: white;
}

thead{
    background-color:rgb(248, 171, 3);
    color: white;
    border:none;
}
td,tr{
    border: rgb(189, 186, 186) inset 2px;
}