#tieude{
    text-align: center;
    color: pink;
}
div{
    font-size: larger;
    }
li{
    list-style-type: none;
}
#anh{
     width: 150px ; 
     height: 200px; 
     margin-top: -200px ;
     padding-left: 500px;
}